<%= form_for @user do |f| %>
<div class="field">
<%= f.label :name, class: 'label' %>
<div class="control">
<%= f.text_field :name, class: 'input' %>
</div>
</div>
<%= f.label :email %><br>
<%= f.text_field :email %><br>

<%= f.label :password %><br>
<%= f.password_field :password %><br>

<%= f.label :password_confirmation %><br>
<%= f.text_field :password_confirmation %><br>
<%= f.submit%>

<% end %>